@charset "UTF-8";

body{
     font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; 
     font-size: 0.9rem;
     line-height: 1.7;
}


ul{
    list-style: none;

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.line {
    width: 1px;
    background-color: #000;
  }

.fixed-bg{
    position: relative;
    text-align: center;
    top: 20%;
}
.sec_title {

    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: white;
    font-size: 4.5rem;
    font-weight: bold;
    transition: all  0.3s ease;
    filter: drop-shadow(1px 1px 2px #121212);
}

.container {
    max-width: 1000px;
    padding: 90px 16px 150px 16px;
    margin: 0 auto;
  }


#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 40px;
  position: relative;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 30px;
}
nav li a{
    color: white;
    font-weight: bold;
    transition: all  0.3s ease;
    filter: drop-shadow(1px 1px 2px #121212);
}
nav li a:hover{
    color: #e03131;
}


#header .main-title{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

#header .main-title img{
    
    width: 62vh;
}

/*
menu
*/
#menu  .fixed-bg{
    text-align: center;
}
#menu  .sec_title{
    background-image: url(../img/menu.jpg);
    position: relative;
}


#menu .container{
    display: flex;
}
#menu .menu_list{
    text-align: center;
    width: 50%;
    padding: 0 45px;
}
#menu .list_title{
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    border-bottom:#e03131 solid 5px;
}
#menu ul {
    display: flex;
    /*
    justify-content: space-between;
    */
    flex-wrap: wrap;
    margin-bottom: 40px;
}
#menu .menu_list dl{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    
}
#menu .menu_list dt{
    width: 75%;
    margin-bottom: 25px;
    border-bottom: black 1px dotted;
}
#menu .menu_list dd{
    width: 15%;
    margin-bottom: 25px;
    border-bottom: black 1px dotter;
}
#menu .food_list{
    margin-bottom: 55px;
}
#about  .fixed-bg{
    text-align: center;
}
#about  .sec_title{
    background-image: url(../img/menu.jpg);
    position: relative;
}
#about .container li{
    width: 50%;
    padding: 20px;
}
#about .container ul{
    
    display: flex;
    flex-wrap: wrap;
   
}
#about .list_title{
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    border-bottom:#e03131 solid 5px;
}
#about .button a:hover{
    border: #e03131 1px;
}
#location  .fixed-bg{
    text-align: center;
}
#location  .sec_title{
    background-image: url(../img/menu.jpg);
    position: relative;
}
#location .container{
    text-align: center;
}
#location .list_title{
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    border-bottom:#e03131 solid 5px;
}
#location .googlemap{
    filter: grayscale(1);
}
#location .container iframe{
    width: 100%;
    height: 400px;
}