@charset "UTF-8";

ul{
    list-style: none;

}

#header {
    height: 100vh;
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
}
#header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#header ul{
    display: flex;
}


#header .main-title{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    
}